.inputField {
    background-color: rgba(255, 235, 205, 0.3);
}
.inputField legend {
    background-color: white;
    border: 1px solid black;
}
.inputItem {
    display: grid;
    grid-template-columns: 150px auto;
    /* justify-content: space-between; */
}
.text-wrapper {
    border: 1px solid black;
    margin: 2px;
}
.inputText {
    width: 97%;
    height: 64%;
}
.inputNumber {
    width: 97%;
    height: 64%;
}
.selectCombo {
    width: 100%;
    height: 85%;
}
.inputImage {
    display: block;
}
#showImage {
    max-width: 100%;
    max-height: 170px;
}
.inputButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
}
.btn-wrapper {
    margin: 2px;
}
.btn {
    background-color: rgba(74, 243, 136, 0.5);
    width: 100%;
    height: 100%;
}
.btnAtt {
    background-color: rgba(203, 15, 20, 0.5);
    width: 100%;
    height: 100%;
}
.inputAttack {
    display: grid;
    grid-template-columns: auto 146px;
}
.inputAttackItem {
    display: grid;
    grid-template-columns: 80px auto;
}
.listField {
    background-color: rgba(147, 112, 216, 0.2);
}
.listField legend {
    background-color: white;
    border: 1px solid black;
}
.listTitleRow {
    display: grid;
    grid-template-columns: 120px 120px auto;
}
.listDataRow {
    display: grid;
    grid-template-columns: 120px 120px auto;
}
